.smd-code {

    .smd-table_cell {
        width: 20%;
    }
    
    .smd-table_row {
        position: relative;
        .smd-table_cell:first-child {
            box-shadow: inset -4px -4px 0px 0px $color-brand;
            padding-left:1rem;

            &:hover {
                background-color: $color-brand;
                color: $color-text-primary;
                cursor: grab;
            }
        }
    }
}

.smd-breakpoint {
    &::after {
        background-color: #e60000;
        border-radius: 1rem;
        box-shadow: 1px 1px rgba(0,0,0,0.2);
        content: '';
        display: block;
        height: .875rem;
        left: 3px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: .875rem;
    }
}

.blue {
    background: #019DEA;
}
.green {
    background: #A0C55F;
}
.yellow {
    background: #FFD216;
} 
.pink {
    background: pink;
}
