@import '../base/variables';


.smd-general_tab {
    width: 100%;
    height: 100%;
    display: flex;

    &-code {
        width: 25%;
    }

    &-simulation {
        width: 75%;
        display: flex;
    
        &_left {
            width: 40%;
            height: 100%;

            &--expanded {
                width: 80%;
                height: 100%;

                & .smd-general_tab-simulation_planificator {
                    height: 70%;

                    & .smd-table-header_title {
                        width: 8.3%;

                    }

                    & .id_colum {
                        width: 5%;
                    }
                }
            }
        }

        &_center {
            width: 40%;
            height: 100%;
        }

        &_right {
            width: 20%;
        }

        &_nat_predicate {
            display: flex;
            width: 100%;
            height: 30%;
            flex: 1 0 auto;

            & .smd-register {
                width: 100%;
                height: 100%;
            }
        }
        
        &_prefetch_decoder {
            height: 25%;
            display: flex;
        }

        &_mappers {
            height: 25%;
            display: flex;
        }

        &_register_mapper {
            flex: 1 0 auto;
        }

        &_reorder_buffer {
            height: 50%;
        }
    }
}
