@import '../base/variables';

.panel {
    &.panel-default {
        height: 100%;
        display: flex;
        flex-flow: column;
        margin-bottom: 0;
        overflow-y: auto;

        >.panel-heading {
            background-color: $color-brand;
            color: white;
            padding: 0.5rem 1rem;
            font-size: $font-size-m;
            font-weight: bold;
        }

        .panel-body {
            padding: 0;
            flex: 1 1 0;
            overflow-y: scroll;
        }
        &.panel--stack {
            &>.panel-body {
                overflow-y: hidden;
                flex: 1 0 auto;
                display: flex;
                flex-flow: column;
            }
        }
    }
}
