.smd-table {
    &-header {
        font-size: 0;

        &_title {
            border: 1px solid rgba(0,0,0,.1);
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            width: 20%;
        }
    }

    &_row {
        display: flex;
    }

    &_cell {
        border: 1px solid rgba(0,0,0,.1);
        font-size: .875rem;
        min-height: 2rem;
        padding: .25rem .5rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 50%;

        &_isover {
            background-color: $color-brand;
        }
    }
}
