@import 'interface/styles/main';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: $font-size-base;
}

body {
    width: 100%;
    overflow-y: hidden;
}

@media (max-width: 1280px) {
    body, html {
        font-size: $font-size-base-sm;
    }
}
