table {
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid black;
}
table thead:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table thead th:first-child {
  border-left: 0;
}
table tr td:last-child,
table thead th:last-child {
  border-right: 0;
}

table tr {
   cursor: pointer;
}