$color-brand-light: #BC87BC;
$color-brand: #7A3B7A;

$color-brand-secondary: #006699;

$color-background-primary: #666666;

$color-text-primary: #EBF3FA;


// Font size
$font-size-base: 1rem;
$font-size-base-sm: 1rem;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-m: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.75rem;
