$color-brand: #7A3B7A;
$medium-primary-color: #BC87BC;
$secondary-color: #006699;
$ternary-color: #666666;

$text: #EBF3FA;
$work-zone: 90vh;



$font-size-base: 16px;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-m: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.75rem;