@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
}

#functional-unit-zone {
   height: calc(90vh);
   & > .panel-body{
      max-height: calc(85vh);
      padding-right: -10px;
   }
}

#simulation-zone {
  height: calc(90vh);
}

#barra-de-herramientas-estandar {
    padding-bottom: 5px;
    font-weight: bold;
}

.small-separator {
    margin: 5px;
}

.icon-wrapper > i{
   background-color: white;
   padding-left: 3px;
   padding-right: 3px;
}

.menu-item {
   text-align: center;
   padding: 5px;
   cursor: pointer;

   &:hover {
      background-color: gray;
   }
}
 
#barra-de-acciones {
  background-color: gray;
}

.navbar {
   margin-bottom: 0px;
   min-height: 0px;
}



.panel {
   margin-bottom: 0px !important;
   border-radius: 0px;
   & .panel-heading {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $primary-color !important;
      color: $text;
      font-weight: bold !important;
      border-radius: 0px;
   }
   & .panel-body {
      overflow-y: auto;
      padding: 0px;
      & > table {
         border: 0px solid gray;
      }
   }
   &.panel-default .register .panel-body {
      overflow-x: hidden;
   }
}


a {
  color: #212121;
}

.inside-bar > .panel-body {
   padding-right: 15px;
}

.table>tbody>tr>td,
 .table>tbody>tr>th, 
 .table>tfoot>tr>td,
 .table>tfoot>tr>th, 
 .table>thead>tr>td, 
 .table>thead>tr>th {
   padding: 0px 0px 0px 8px;
   height: 19px;
   min-height: 15px;
}