@import 'interface/styles/main';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: $font-size-base;
	overflow-y: hidden;
	width: 100%;
}