@import '../base/variables';

.smd-access_bar {
    padding: 0.5rem 0rem;

    a {
        padding: 1.5rem 1.5rem;
        color: black;
        cursor: pointer;
    }

    .smd-cycle {
        display: inline-block;
        
        &_label {
            margin-right: 0.5rem;
        }
    }
}