@use '../base/variables' as *;

.smd-access_bar {
    padding: 0.5rem 0rem;

    button {
        padding: 0 1.5rem;
        color: black;
        cursor: pointer;
        background: none;
        border: none;
    }

    .smd-cycle {
        display: inline-block;
        margin-right: 1rem;
        
        &_label {
            margin-right: 0.5rem;
        }
    }

    .smd-speed {
        &_value {
            margin-left: .5rem;
            text-align: center;
        }
    }
}
