.navigation-bars {
   height: 86px;
   max-height: 86px;
   min-height: 86px;
}

.tab-content {
    height: -webkit-calc(90% - 86px);
    height:    -moz-calc(90% - 86px);
    height:         calc(90% - 86px);
}

.container-fluid {
    padding: 0;
}