#code-zone {
   table {
      border-collapse: collapse;
      & thead:first-child th {
         border-top: 0;
      }
      & tr:last-child td {
         border-bottom: 0;
      }
      & tr td:first-child,
      & thead th:first-child {
         border-left: 0;
      }
      & tr td:last-child,
      & thead th:last-child {
         border-right: 0;
      }

      & td, & th {
         border: 1px solid black;
         text-align: center;
      }
      & tr {
         cursor: pointer;
      }
   }
}

.breakPoint {
    background: #f00;
}

.blue {
   background: #019DEA;
}
.green {
   background: #A0C55F;
}
.yellow {
   background: #FFD216;
} 
.pink {
   background: pink;
}