.smd-code {

    .smd-table_row {
        position: relative;
    }
    .smd-table_cell {
        width: 20%;
    }
}

.smd-breakPoint {
    &::after {
        height: .875rem;
        content: '';
        width: .875rem;
        background-color: red;
        border-radius: 1rem;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.blue {
   background: #019DEA;
}
.green {
   background: #A0C55F;
}
.yellow {
   background: #FFD216;
} 
.pink {
   background: pink;
}