@import '../base/variables';

.navigation-bars {
    height: 9vh;

    .smd-filebar {
        display: flex;

        button {
            background-color: transparent;
            border: none;
            border-radius: 0px;
            color: black;

            &:focus, &:active {
                background-color: $color-brand;
                border-color: transparent;
                color: white;
            }
        }
    }
}
