@import '../base/variables';

#functional-unit-zone.panel {
   margin-bottom: 0px !important;
   border-radius: 0px;
   & .panel-heading {
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: $primary-color !important;
      color: $text;
      font-weight: bold !important;
      border-radius: 0px;
   }
   &>.panel-body {
      padding-right: 0px;
      padding: 0px 0px 0px 0px;
      & .panel {
         max-height: 100px;
         .panel-body {
            max-height: 60px;
            & > table {
               border: 0px solid gray;
            }
         }
      }
   }
   &.panel-default .register .panel-body {
      overflow-x: hidden;
   }
}