@import '../base/variables';


.smd-general_tab {
    width: 100%;
    height: 100%;
    display: flex;

    &-code {
        flex: 1 0 auto;
    }

    &-simulation {
        flex: 3 0 auto;
        display: flex;
    
        &_left {
            flex: 5 0 auto;
            display: flex;
            flex-flow: column;
        }

        &_center {
            flex: 5 0 auto;
        }

        &_right {
            flex: 2 0 auto;
        }
        
        &_prefetch_decoder {
            flex: 1 0 auto;
            display: flex;
        }

        &_mappers {
            flex: 1 0 auto;
            display: flex;
        }

        &_register_mapper {
            flex: 1 0 auto;
        }

        &_reorder_buffer {
            flex: 2 0 auto;
        }
    }
}