@import '../base/variables';

.smd-load_modal {

    textarea {
        width: 100%;
        height: 25rem;
        font-size: .875rem;
        font-family: Arial;
     }
     
     .btn.btn-primary {
        background: $color-brand;
     }

     &-footer {
         display: flex;
         justify-content: space-between;
     }

    &-actions {
        flex: 1 0 auto;
    }

    &-file_input {
        flex: 0 0 auto;
    }

    &-errors {
        .smd-forms_error {
            padding: 0;
        }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            width: 50%;
            margin: 30px auto;
        }
    }
}