@import '../base/variables';

#working-area-tabs {
    height: -webkit-calc(100% - 4.5rem);
    height:    -moz-calc(100% - 4.5rem);
    height:         calc(100% - 4.5rem);

    .nav.nav-tabs {
        position: absolute;
        top: 2rem;
        right: 1rem;

        &>li>a{
            border: 1px solid rgba(0,0,0,0.2);
        }
        
        &>li.active>a {
            background-color: $color-brand;
            color: $color-text-primary;
        }

    }

    .tab-content {
        height: 100%;
        
        &>div {
            height: 100%;
        }
    }
}
