@import '../base/variables';

.nav.nav-tabs {
    position: absolute;
    top: 2rem;
    right: 1rem;

    &>li>a{
        border: 1px solid rgba(0,0,0,0.2);
    }
    
    &>li.active>a {
        background-color: $color-brand;
        color: $color-text-primary;
    }
}

.tab-content {
    height: 91vh;
    
    &>div {
        height: 100%;
    }
}
